

<nav>
        <a href="index">Home</a>
        
       
        <% if(isLoggedIn){ %>

            <a href="logout">Logout</a>
            <a href="app">Application</a>

        <% }else{ %>

            <a href="login">Login</a>
            <a href="register">Register</a>

        <% }%>

        
    </nav>