/* body{
    background-color: #ffe8be;
} */


/* overide bootstrap colouring */
:root{
    --bs-body-bg: #ffe8be;

    
    /* btn styling */
    .btn-success{
        --bs-btn-color: #000000;
        --bs-btn-bg: #e9af85;
        --bs-btn-border-color: #b17346;
        --bs-btn-hover-color: #000000;
        --bs-btn-hover-bg: #e49f6e;
        --bs-btn-hover-border-color: #b17346;
        --bs-btn-focus-shadow-rgb: 60, 153, 110;
        --bs-btn-active-color: #000000;
        --bs-btn-active-bg: #e69052;
        --bs-btn-active-border-color: #b8713e;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        /* --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #198754;
        --bs-btn-disabled-border-color: #198754; */
    }
    
    
    
    input{
        background-color: #e7c88d9a;
    }
}

