<%- include('../partials/header') %>
<main class="container py-5">
  <h1>Hi, I am <%= user.firstName + ' ' + user.lastName  %> 
  <h3>Welcome to my blog</h3>
</main>
<%- include('../partials/footer') %>