<%- include("../partials/header") %>
<body>
    <h1>Simple Social</h1>
    <h2>To get started:</h2>
    <p>Please register or login</p>
    <%- include("../partials/nav") %>
</body>

<%- include("../partials/footer") %>