<%- include("../partials/header") %>

<body>
    <h2>Simple Social - User Login</h2>

    <%- include("../partials/nav") %>

    <form action="/login" method="POST">
        <label>Username</label>
        <input type="text" id="username" name="username"><br>
        <label>Password</label>
        <input type="text" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>

</body>

<%- include("../partials/footer") %>