<%- include("../partials/header") %>
<body>
    <h2>Logout</h2>
    <%- include("../partials/nav") %>
    <form action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
    <%- include("../partials/footer") %>